
<div class="banner-color">
    <div class="row banner">
      <div class="seccione2  col-lg-6 "  >
       <p class="text-center ">
         <br><img class="logo logo-banner centrado" src="https://as.com/meristation/imagenes/2020/03/20/noticias/1584724927_267836_1584725024_noticia_normal.jpg" alt="logo" ></p> 
      </div>
      <div id="warzone" class="seccione2 col-lg-6"  >
        <div class="container">
            <div class="card-deck mb-3 text-center">
              <div class="card mb-4 shadow-sm">
                <div class="card-header">
                  <h4 class="my-0 font-weight-normal">warzone</h4>
                </div>
                <div class="card-body">
                  <h1 class="card-title pricing-card-title">Q550<small class="text-muted">/LEGACY</small></h1>
                  <ul class="list-unstyled mt-3 mb-4 text-left">
                    <li>Fecha de estreno inicial: 10 de marzo de 2020</li>
                    <li>Call of Duty: Warzone es un videojuego gratuito Battle Royale lanzado el 10 de marzo de 2020 para Xbox One, PlayStation 4 y Microsoft Windows como parte de la franquicia de Call of Duty. Warzone fue desarrollado por Infinity Ward y Raven Software y publicada por Activision.</li>
                    <li>Genero: Disparos</li>
                  </ul>
                  <br>
           
                </div>
              </div>
        
            </div>
          
        </div>
      </div>
    </div>
    </div>


    <br><br>
    
    <div class="banner-color">
      <div class="row banner">
        <div id="fifa"class="seccione2  col-lg-6 "  >
         <p class="text-center ">
           <br><img class="logo logo-banner centrado" src="https://i.blogs.es/5fe30d/fifa-21-intros_1/450_1000.jpeg" alt="logo" ></p> 
        </div>
        <div class="seccione2 col-lg-6"  >
          <div class="container">
              <div class="card-deck mb-3 text-center">
                <div class="card mb-4 shadow-sm">
                  <div class="card-header">
                    <h4 class="my-0 font-weight-normal">FIFA 21</h4>
                  </div>
                  <div class="card-body">
                    <h1 class="card-title pricing-card-title">Q550<small class="text-muted">/LEGACY</small></h1>
                    <ul class="list-unstyled mt-3 mb-4 text-left">
                      <li>Fecha de estreno inicial: 5 de octubre de 2020</li>
                      <li>FIFA 21 es un videojuego de simulación de fútbol del año 2020 disponible para Microsoft Windows, PlayStation 4, Xbox One y Nintendo Switch el 9 de octubre de 2020, y aparte será el primer videojuego de la serie FIFA para Google Stadia, PlayStation 5 y Xbox Series X|S.</li>
                      <li>Genero: Deporte</li>
                    </ul>
                    <br>
             
                  </div>
                </div>
          
              </div>
            
          </div>
        </div>
      </div>
      </div>
      <br><br>
    
      <div class="banner-color">
        <div class="row banner">
          <div id="last" class="seccione2  col-lg-6 "  >
           <p class="text-center ">
             <br><img class="logo logo-banner centrado" src="https://www.moncloa.com/wp-content/uploads/2020/07/the-last-of-us-2.jpg" alt="logo" ></p> 
          </div>
          <div class="seccione2 col-lg-6"  >
            <div class="container">
                <div class="card-deck mb-3 text-center">
                  <div class="card mb-4 shadow-sm">
                    <div class="card-header">
                      <h4 class="my-0 font-weight-normal">The Last Of Us II</h4>
                    </div>
                    <div class="card-body">
                      <h1 class="card-title pricing-card-title">Q550<small class="text-muted">/LEGACY</small></h1>
                      <ul class="list-unstyled mt-3 mb-4 text-left">
                        <li>Fecha de estreno inicial: 19 de julio de 2020</li>
                        <li>The Last of Us Part II es un videojuego de acción-aventura y horror de supervivencia desarrollado por Naughty Dog, publicado por Sony en exclusiva para la PlayStation 4 el 19 de junio de 2020. ​</li>
                        <li>Genero: Disparos</li>
                      </ul>
                      <br>
               
                    </div>
                  </div>
            
                </div>
              
            </div>
          </div>
        </div>
        </div>
        <br><br>
    
        <div class="banner-color">
          <div class="row banner">
            <div class="seccione2  col-lg-6 "  >
             <p class="text-center ">
               <br><img class="logo logo-banner centrado" src="https://generacionxbox.com/wp-content/uploads/2019/08/Need-For-Speed-Heat-2019-1.jpg" alt="logo" ></p> 
            </div>
            <div id="need" class="seccione2 col-lg-6"  >
              <div class="container">
                  <div class="card-deck mb-3 text-center">
                    <div class="card mb-4 shadow-sm">
                      <div class="card-header">
                        <h4 class="my-0 font-weight-normal">Need-For-Speed-Heat-2019-1</h4>
                      </div>
                      <div class="card-body">
                        <h1 class="card-title pricing-card-title">Q550<small class="text-muted">/LEGACY</small></h1>
                        <ul class="list-unstyled mt-3 mb-4 text-left">
                          <li>Fecha de estreno inicial: 5 de octubre de 2020</li>
                          <li>Need for Speed Heat es un videojuego de carreras desarrollado por Ghost Games y publicado por Electronic Arts para Microsoft Windows, PlayStation 4 y Xbox One. Es la vigésimo cuarta entrega de la saga Need for Speed y conmemora el 25 aniversario de la serie.</li>
                          <li>Genero: Deporte</li>
                        </ul>
                        <br>
                 
                      </div>
                    </div>
              
                  </div>
                
              </div>
            </div>
          </div>
          </div>

          <br><br>
    
          <div id="Fortnite" class="banner-color">
            <div class="row banner">
              <div class="seccione2  col-lg-6 "  >
               <p class="text-center ">
                 <br><img class="logo logo-banner centrado" src="https://as.com/meristation/imagenes/2020/10/24/noticias/1603531215_560324_1603531407_noticia_normal_recorte1.jpg" alt="logo" ></p> 
              </div>
              <div class="seccione2 col-lg-6"  >
                <div class="container">
                    <div class="card-deck mb-3 text-center">
                      <div class="card mb-4 shadow-sm">
                        <div class="card-header">
                          <h4 class="my-0 font-weight-normal">Fornite</h4>
                        </div>
                        <div class="card-body">
                          <h1 class="card-title pricing-card-title">Q0<small class="text-muted">/free</small></h1>
                          <ul class="list-unstyled mt-3 mb-4 text-left">
                            <li>Fecha de estreno inicial: 21 de julio de 2017</li>
                            <li>Fortnite es un videojuego del año 2017 desarrollado por la empresa Epic Games, lanzado como diferentes paquetes de software que presentan diferentes modos de juego, pero que comparten el mismo motor de juego y mecánicas. Fue anunciado en los Spike Video Game Awards en 2011</li>
                            <li>Genero: arcade</li>
                          </ul>
                          <br>
                   
                        </div>
                      </div>
                
                    </div>
                  
                </div>
              </div>
            </div>
            </div>

    