{% extends 'base.html' %}
{% import 'macros.html' as macros %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}
{{ super() }}
Bienvenido
{% endblock %}

{% block content %}
{% if username %}
<h1>Bienvenido, {{ Username | capitalize }}</h1>
{% endif %}

{% if user_ip %}
<h3>Tu IP es {{ user_ip }}</h3>
{% else %}
<a href="{{ url_for('index') }}">Ir a inicio</a>
{% endif %}

<div class="row">
    <div class="col-md-4 offset-md-4">
      <div class="card card-body">
        <form action="/updateG/{{juegos.0}}" method="POST">
          <div class="form-group">
              <label for="">serial de la maquina</label>
            <input type="text" name="serial" value="{{juegos.1}}" class="form-control">
          </div>
          
          <div class="form-group">
            <label for="">cantidad de gaseosas</label>
            <input type="text" name="gaseosas" value="{{juegos.2}}" class="form-control">
          </div>
          <div class="form-group">
            <label for="">cantidad de risitos</label>
            <input type="text" name="risitos" value="{{juegos.3}}" class="form-control">
          </div>
          <div class="form-group">
            <label for="">cantidad de galletas</label>
            <input type="text" name="galletas" value="{{juegos.4}}" class="form-control">
          </div>
          <div class="form-group">
            <label for="">Link de la Imagen</label>
            <input type="text" name="img" value="{{juegos.5}}" class="form-control">
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">
              Update
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>





{% endblock %}